.DS_*
.idea
Test9/5_10_0/Sample_42/Retrain_0/Images/Samples.png
Test9/5_10_0/Sample_42/Retrain_0/Images/Score.png
Test9/5_10_0/Sample_42/Retrain_0/InfoModel.txt
Test9/5_10_0/Sample_42/Retrain_0/TrainedModel/Information.csv
Test9/5_10_0/Sample_42/Retrain_0/TrainedModel/model.pkl
Test9/5_10_0/Sample_42/Retrain_1/Images/Samples.png
Test9/5_10_0/Sample_42/Retrain_1/Images/Score.png
Test9/5_10_0/Sample_42/Retrain_1/InfoModel.txt
Test9/5_10_0/Sample_42/Retrain_1/TrainedModel/Information.csv
Test9/5_10_0/Sample_42/Retrain_1/TrainedModel/model.pkl
Test9/5_10_0/Sample_42/Retrain_2/Images/Samples.png
Test9/5_10_0/Sample_42/Retrain_2/Images/Score.png
Test9/5_10_0/Sample_42/Retrain_2/InfoModel.txt
Test9/5_10_0/Sample_42/Retrain_2/TrainedModel/Information.csv
Test9/5_10_0/Sample_42/Retrain_2/TrainedModel/model.pkl
Test9/5_10_0/Sample_42/Retrain_3/Images/Samples.png
Test9/5_10_0/Sample_42/Retrain_3/Images/Score.png
Test9/5_10_0/Sample_42/Retrain_3/InfoModel.txt
Test9/5_10_0/Sample_42/Retrain_3/TrainedModel/Information.csv
Test9/5_10_0/Sample_42/Retrain_3/TrainedModel/model.pkl
Test9/5_10_0/Sample_42/Retrain_4/Images/Samples.png
Test9/5_10_0/Sample_42/Retrain_4/Images/Score.png
Test9/5_10_0/Sample_42/Retrain_4/InfoModel.txt
Test9/5_10_0/Sample_42/Retrain_4/TrainedModel/Information.csv
Test9/5_10_0/Sample_42/Retrain_4/TrainedModel/model.pkl
Test9/5_10_0/Sample_43/Retrain_0/Images/Samples.png
Test9/5_10_0/Sample_43/Retrain_0/Images/Score.png
Test9/5_10_0/Sample_43/Retrain_0/InfoModel.txt
Test9/5_10_0/Sample_43/Retrain_0/TrainedModel/Information.csv
Test9/5_10_0/Sample_43/Retrain_0/TrainedModel/model.pkl
Test9/5_10_0/Sample_43/Retrain_1/Images/Samples.png
Test9/5_10_0/Sample_43/Retrain_1/Images/Score.png
Test9/5_10_0/Sample_43/Retrain_1/InfoModel.txt
Test9/5_10_0/Sample_43/Retrain_1/TrainedModel/Information.csv
Test9/5_10_0/Sample_43/Retrain_1/TrainedModel/model.pkl
Test9/5_10_0/Sample_43/Retrain_2/Images/Samples.png
Test9/5_10_0/Sample_43/Retrain_2/Images/Score.png
Test9/5_10_0/Sample_43/Retrain_2/InfoModel.txt
Test9/5_10_0/Sample_43/Retrain_2/TrainedModel/Information.csv
Test9/5_10_0/Sample_43/Retrain_2/TrainedModel/model.pkl
Test9/5_10_0/Sample_43/Retrain_3/Images/Samples.png
Test9/5_10_0/Sample_43/Retrain_3/Images/Score.png
Test9/5_10_0/Sample_43/Retrain_3/InfoModel.txt
Test9/5_10_0/Sample_43/Retrain_3/TrainedModel/Information.csv
Test9/5_10_0/Sample_43/Retrain_3/TrainedModel/model.pkl
Test9/5_10_0/Sample_43/Retrain_4/Images/Samples.png
Test9/5_10_0/Sample_43/Retrain_4/Images/Score.png
Test9/5_10_0/Sample_43/Retrain_4/InfoModel.txt
Test9/5_10_0/Sample_43/Retrain_4/TrainedModel/Information.csv
Test9/5_10_0/Sample_43/Retrain_4/TrainedModel/model.pkl
*.pyc
.vscode/settings.json
